@model IEnumerable<Sprint2.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroNota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clientes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroNota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clientes.Nome)
            </td>
            <td>
                 <a asp-controller="ItemVendas" asp-action="Index" asp-route-id="@item.VendaId">Itens</a> | 
                <a asp-action="Edit" asp-route-id="@item.VendaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VendaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VendaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
