@model IEnumerable<Sprint2.Models.ItemVenda>

@{
    ViewData["Title"] = "Item de Venda";
    var id = ViewData["ItemVendaId"];

}

<h1>Itens de Venda</h1>

<p>
    <a asp-action="Create" asp-route-id="@id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vendas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vendas.VendaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produtos.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ItemVendaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ItemVendaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ItemVendaId">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
