@model Sprint2.Models.Produto

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Detalhes Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estoque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estoque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecoUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categorias.CategoriaId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedores.FornecedorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProdutoId">Edit</a> |
    <a asp-action="Index">Voltar para Produtos</a>
</div>
