@model Sprint2.Models.ItemCompra

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Detalhes Item de Compra</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Compras)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Compras.CompraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produtos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produtos.ProdutoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ItemCompraId">Edit</a> |
    <a asp-action="Index">Voltar para Itens de Compras</a>
</div>
